@page "/Account/ExternalLogin"
@inject NavigationManager NavigationManager

<PageTitle>External Login Disabled</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">External Login Services Disabled</h4>
                <p>
                    External login services (Google, Microsoft, Facebook, etc.) are currently disabled 
                    for the Luxford PTA Event Management System.
                </p>
                <hr>
                <p class="mb-0">
                    Please use the standard login form with your PTA account credentials.
                </p>
            </div>
            
            <div class="text-center mt-4">
                <a href="/Account/Login" class="btn btn-primary">
                    <i class="bi bi-person"></i> Standard Login
                </a>
                <a href="/" class="btn btn-outline-primary ms-2">
                    <i class="bi bi-house"></i> Return to Home
                </a>
            </div>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        // External login is disabled - redirect to login
        NavigationManager.NavigateTo("/Account/Login");
    }
}
