@page "/Account/Manage/ExternalLogins"

@using Microsoft.AspNetCore.Identity
@using LuxfordPTAWeb.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor

<PageTitle>External Logins Disabled</PageTitle>

<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">External Login Services Disabled</h4>
    <p>
        External login services (Google, Microsoft, Facebook, etc.) are currently disabled 
        for the Luxford PTA Event Management System.
    </p>
    <p class="mb-0">
        If you previously used external login services, please contact administrators for 
        assistance with account access.
    </p>
</div>

<div class="mt-3">
    <a href="/Account/Manage" class="btn btn-primary">
        <i class="bi bi-arrow-left"></i> Back to Account Management
    </a>
</div>

@code {
    // All external login functionality removed
}
