@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using LuxfordPTAWeb.Data
@using LuxfordPTAWeb.Shared.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityRedirectManager RedirectManager

<div class="alert alert-secondary">
    <h6>External Authentication Disabled</h6>
    <p class="mb-0">
        External login services (Google, Microsoft, etc.) are currently disabled. 
        Please use your PTA account credentials to log in.
    </p>
</div>

@code {
    private AuthenticationScheme[] externalLogins = [];

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // External logins are disabled, but we still need to handle the component
        // In case you want to re-enable later, uncomment the line below:
        // externalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToArray();
        externalLogins = [];
    }
}
